<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=1024, user-scalable=no">

  <title>Angular Training</title>
  <link rel="icon" type="image/x-icon" href="images/angular.ico">

  <!-- Required stylesheet -->
  <link rel="stylesheet" href="deck.js/core/deck.core.css">

  <!-- Extension CSS files go here. Remove or add as needed. -->
  <link rel="stylesheet" href="deck.js/extensions/goto/deck.goto.css">
  <link rel="stylesheet" href="deck.js/extensions/menu/deck.menu.css">
  <link rel="stylesheet" href="deck.js/extensions/navigation/deck.navigation.css">
  <link rel="stylesheet" href="deck.js/extensions/status/deck.status.css">
  <link rel="stylesheet" href="deck.js/extensions/hash/deck.hash.css">
  <link rel="stylesheet" href="deck.js/extensions/scale/deck.scale.css">

  <!-- Codemirror theme -->
  <link rel="stylesheet" href="deck.js/extensions/codemirror/deck.codemirror.css">
  <link rel="stylesheet" href="deck.js/extensions/codemirror/themes/lesser-dark.css">

  <!-- Style theme. More available in /themes/style/ or create your own. -->
  <link rel="stylesheet" href="deck.js/themes/style/dark.css">

  <!-- Transition theme. More available in /themes/transition/ or create your own. -->
  <link rel="stylesheet" href="deck.js/themes/transition/cube.css">

  <!-- Google Font -->
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,700' rel='stylesheet' type='text/css'>

  <!-- Required Modernizr file -->

  <script src="deck.js/modernizr.custom.js"></script>
  <style>
    .smallHeading{
      color : #ff8c00;
      font-weight: bold !important;      
    }
    .desc{
      color : #ff7f50 !important;
    }
    .redHighlight{
      color:red;
    }
    .greenHighlight{
      color:green !important;
    }
    .heading{
      color:#9932CC !important;
    }
  </style>
</head>
<body class="deck-container">

<!-- Begin slides. Just make elements with a class of slide. -->
<section class="slide">
  <h1>ANGULAR CONCEPTS</h1>
</section>

<section class="slide">
    <img src="images/angularLogo.png">

    <ul>
      <li class="slide"> Before i kickstart Angular js let me throw some light on these
      </li>
    </ul>
    <span class="slide" style="float:left"><img src="images/yoman.png" >Yeoman</span>
    <span class="slide" style="float:left ; margin-top:85px" ><img src="images/grunt.png">Grunt</span>
    <span class="slide" style="float:left ; margin-top:50px"><img src="images/bower.png" >Bower</span>

</section>

<section class="slide">
  <h2>New Workflow For Modern Webapps</h2>
  <ul>
    <li><a href="https://github.com/yeoman/yo" target="_blank">Yo</a> : scaffolds out a new application, writing your Grunt configuration and pulling in relevant Grunt tasks that you might need for your build.
    </li>
    <li><a href="http://gruntjs.com/" target="_blank">Grunt</a> :  is used to build, preview and test your project.
    </li>
    <li><a href="http://bower.io/" target="_blank">Bower</a> : is used for dependency management, so that you no longer have to manually download and manage your scripts.
    </li>
  </ul>
  <ul class="slide">
    <li>A complete <a href="https://github.com/yeoman/yeoman/wiki/Getting-Started" target="_blank">getting started</a> guide is available but for those looking to get up and running quickly, make sure you have installed <a href="http://nodejs.org/" target="_blank">Node.js</a>, <a href="http://git-scm.org/" target="_blank">Git</a> .
    </li>
    <li>
      For packaged ready app all these things should be configured before u start the project,as it reduces a lot manual burden of a being.
    </li>
    <li>Lets start Angular now </li>
  </ul>
</section>

<section class="slide">
  <h2>Introduction</h2>
  <ul>
    <li>AngularJS is a MVC framework that defines numerous concepts to properly organize your web application.
    </li>
    <li>It enhances HTML by attaching <span class="greenHighlight">directives</span> to your pages with new attributes or tags and expressions in order to define very powerful templates directly in your HTML.
    </li>
    <li>It also encapsulates the behavior of your application in controllers with the help of <span class="greenHighlight">dependency injection</span>.
    </li>
    <li>Finally, utility code can easily be factorized into <span class="greenHighlight">services</span> that can be injected in your controllers
    </li>
  </ul>
  <ul class="slide">
    <li style="float:left">
      <div style="float:left">
        <a href="http://docs.angularjs.org/guide/expression" target="_blank">
          <img style="float:left" src="images/expression.png">
        </a>
      </div> :  In order to create the views of your application, AngularJS let you execute expressions directly within your HTML pages.
    </li>
     <textarea id="code" name="code" class="code" mode="javascript" style="display: none;">
  <div class="container">
  name size is:{{1+2}}// as here expression is  2+1
          //which gets computed to 3
  </div>
      </textarea>
  </ul>
</section>
<!-- Directives -->
<section class="slide">
  <h2>....contd</h2>
  <ul>
    <li> <a href="http://docs.angularjs.org/guide/directive" target="_blank">Directives</a> :  are one of the most powerful feature of AngularJS.
    </li>
    <li>They allow you to extend HTML to answer the needs of web applications. Directives let you specify how your page should be structured for the data available in a given scope
    </li>
    <br/><br/>
     <textarea id="code" name="code" class="code" mode="javascript" style="display: none;">
 <div id="door" data-id="{{security.id}}" class="doors" ng-repeat="security in securities" ng-click="routeTo('securityDetails', $index)">
     <span style="float:left;width: 180px;">
        <span class="part1">
          <img style="height:53px;" ng-src="images/{{security.typeOfState}}-{{security.stateDesc.toLowerCase()}}.png" alt="{{security.typeOfState}}">

          <span ng-class="{'true':'status-open', 'false':'status-closed'}[security.points[0].point[1].text]">{{security.stateDesc}}</span>

          <span style="float: left;background: #1b1a20;width: 180px;">
            <h4>{{security.name}}</h4>
          </span>
        </span>
      </span>
  </div>
      </textarea>

  </ul>

</section>

<section class="slide">
  <ul>
    <img src="images/output copy.png">
  </ul>
  <img class="slide" src="images/directiveOutput.png">
</section>
<!-- Data Binding -->
<section class="slide">
  <h2>....contd</h2>
  <ul>
    <li> <a href="http://docs.angularjs.org/guide/dev_guide.templates.databinding" target="_blank">Data Binding</a> : Data-binding in Angular web apps is the automatic synchronization of data between the model and view components
    </li>
    <br/><br/>
    <img src="images/dataBind.png">
    <li>
      They are different because first the template (which is the uncompiled HTML along with any additional markup or directives) is compiled on the browser, and then, the compilation step produces a live view.
    </li>
  </ul>

</section>
<!-- Controller -->
<section class="slide">
  <h2>....contd</h2>
  <ul>
    <li> <a href="https://docs.angularjs.org/guide/controller" target="_blank">Controllers</a> : In Angular, a Controller is a JavaScript constructor function that is used to augment the Angular Scope.
    </li>
    <li>When a Controller is attached to the DOM via the ng-controller directive, Angular will instantiate a new Controller object.</li>
    <li>A new child scope will be available as an injectable parameter to the Controller's constructor function as <span class="greenHighlight">$scope</span>.
    </li>
    <li>
      Mainly controllers are used for : 
      <ul>
        <li>Set up the initial state of the $scope object.</li>
        <li>Add behavior to the $scope object.</li>
      </ul>
    </li>
    <li>
      Do not use controllers for : 
      <ul>
        <li><span class="smallHeading">Manipulate DOM</span> : Controllers should contain only business logic. Putting any presentation logic into Controllers significantly affects its testability, Use <span class="greenHighlight">Directives</span> instead</li>
        
        <li><span class="smallHeading">Format input </span> : Use <span class="greenHighlight">Form Controls</span> instead</li>

        <li><span class="smallHeading">Filter output </span> : Use <span class="greenHighlight">Angular Filters</span> instead</li>

        <li>Manage the life-cycle of other components (for example, to create service instances)</li>
      </ul>
    </li>
  </ul>

</section>

<section class="slide">
  <h2>....contd</h2>
  <div>
    Example set up for controller : 
  </div>

  
  <textarea id="code" name="code" class="code" mode="javascript" style="display: none;" globals="$,jQuery,angular" runnable="true">
    //in JS
  var myApp = angular.module('myApp',[]);

  myApp.controller('DoubleController', ['$scope', function($scope) {
    $scope.double = function(value) { 
      return value * 2; 
    };
  }]);

  // In View
  <div ng-controller="DoubleController">
     Two times <input type="text" ng-model="num"> equals {{ double(num) }}
  </div>
   
  </textarea>
</section>

<!-- Services -->
<section class="slide">
  <h2>....contd</h2>
  <ul>
    <li> <a href="https://docs.angularjs.org/guide/services" target="_blank">Services</a> : Angular services are substitutable objects that are wired together using dependency injection (DI). You can use services to organize and share code across your app.
    </li>    
    <li>
      Services in Angular are : 
      <ul>
        <li><span class="smallHeading">Lazily instantiated</span> : Angular only instantiates a service when an application component depends on it</li>
        
        <li><span class="smallHeading">Singletons </span> :  Each component dependent on a service gets a reference to the single instance generated by the service factory</li>

      </ul>
    </li>
  </ul>

</section>

<section class="slide">
  <h2>....contd</h2>
  <div>
    <span class="smallHeading">Services V/S Factory</span> : 
  </div>
  <ul>
    <li><span class="desc"> Factory</span> : 
      <ul>
        <li> When you’re using a Factory you create an object, add properties to it, then return that same object
        </li>    
        <li>
         When you pass this service into your controller, those properties on the object will now be available in that controller through your factory
        </li>
      </ul>
    </li>

    <li><span class="desc"> Service</span> : 
      <ul>
        <li> When you’re using Service, it’s instantiated with the ‘new’ keyword. Because of that, you’ll add properties to ‘this’ and the service will return ‘this'.
        </li>    
        <li>
          When you pass the service into your controller, those properties on ‘this’ will now be available on that controller through your service.
        </li>
      </ul>
    </li>
    
  </ul>
  <textarea id="code" name="code" class="code" mode="javascript" style="display: none;" globals="$,jQuery,angular" >
    // Service
  module.service('MyService', function() {
      this.method1 = function() {
          //..
      }
      this.method2 = function() {
          //..
      }
  }); 

  // Factory
  module.factory('MyFactory', function() {
      var factory = {}; 
      factory.method1 = function() {
          //..
      }
      factory.method2 = function() {
          //..
      }
    return factory;
  });
   
  </textarea>

</section>

<section class="slide">
  <h2>....contd</h2>
  <div>
    Example set up for services : 
  </div>

  
  <textarea id="code" name="code" class="code" mode="javascript" style="display: none;" globals="$,jQuery,angular" runnable="true">
    //in JS
  angular.module('myServiceModule', []).
  controller('MyController', ['$scope','notify', function ($scope, notify) {
    $scope.callNotify = function(msg) {
    notify(msg);
    };
  }]).factory('notify', ['$window', function(win) {
   var msgs = [];
   return function(msg) {
       win.alert(msgs);
   };
  }]);

  // In View
  <div id="simple" ng-controller="MyController">
    <p>Let's try this simple notify service, injected into the controller...</p>
    <input ng-init="message='test'" ng-model="message" >
    <button ng-click="callNotify(message);">NOTIFY</button>
  </div>
   
  </textarea>
</section>

<!-- Scope -->
<section class="slide">
  <h2>....contd</h2>
  <ul>
    <li> <a href="https://docs.angularjs.org/guide/scope" target="_blank">Scope</a> : scope is an object that refers to the application model. It is an execution context for expressions
    </li>
    <li> Scopes are arranged in hierarchical structure which mimic the DOM structure of the application</li> 
    <li>  Scopes can watch expressions and propagate events.</li>       
    <li>
      <span class="smallHeading">Scope as Data-Model</span> : 
      <ul>
        <li>Scope is the glue between application controller and the view</li>
        <li>During the template linking phase the directives set up $watch expressions on the scope</li>
        <li>The $watch allows the directives to be notified of property changes, which allows the directive to render the updated value to the DOM.</li>
        <li>Both controllers and directives have reference to the scope, but not to each other</li>
      </ul>
    </li>
  </ul>

</section>

<!-- DI -->
<section class="slide">
  <h2>....contd</h2>
  <ul>
    <li> <a href="https://docs.angularjs.org/guide/di" target="_blank">Dependency Injection</a> : Dependency Injection (DI) is a software design pattern that deals with how components get hold of their dependencies.
    </li>
    <li> The Angular injector subsystem is in charge of creating components, resolving their dependencies, and providing them to other components as requested</li>       
    <li>
      <span class="smallHeading">3 Ways </span> by which componets get hold of their dependencies :  
      <ul>
        <li>Component can create dependency of their own by new operator.</li>
        <li>Component can look for dependency by refering to the global variable.</li>
        <li>Last but not least , dependency can be injected whenever required.</li>
      </ul>
    </li>

    <li>
      <span class="smallHeading">DI usage areas </span> :  
      <ul>
        <li><span class="desc">Components</span> :  such as services, directives, filters, and animations are defined by an injectable factory method or constructor function. These components can be injected with "service" and "value" components as dependencies.</li>

        <li><span class="desc">Controllers</span> :  are defined by a constructor function, which can be injected with any of the "service" and "value" components as dependencies, but they can also be provided with special dependencies. See Controllers below for a list of these special dependencies.</li>

        <li>The run method accepts a function, which can be injected with "service", "value" and "constant" components as dependencies. Note that you cannot inject "providers" into run blocks</li>
        <li>The config method accepts a function, which can be injected with "provider" and "constant" components as dependencies. Note that you cannot inject "service" or "value" components into configuration.</li>
      </ul>
    </li>
  </ul>

</section>

<section class="slide">
  <h2>....contd</h2>
  <div>
    Example set up for DI : 
  </div>

  
  <textarea id="code" name="code" class="code" mode="javascript" style="display: none;" globals="$,jQuery,angular">
    function SomeClass(greeter) {
      this.greeter = greeter;
    }

    SomeClass.prototype.doSomething = function(name) {
      this.greeter.greet(name);
    }
   
  </textarea><br/>
  <div>
    <span class="desc">Description</span> : Here SomeClass is not concerned with creating or locating the greeter dependency, it is simply handed the greeter when it is instantiated.
    This is desired, but it puts the responsibility of getting hold of the dependency on the code that constructs SomeClass.
  </div>
</section>

<section class="slide">
  <h2>....contd</h2>
  <div>
    Example set up for DI using Injector: 
  </div>

  <div>
    <textarea id="code" name="code" class="code" mode="javascript" style="display: none;" globals="$,jQuery,angular">

    // Provide the wiring information in a module
    var myModule = angular.module('myModule', [])
    myModule.factory('greeter', function($window) {
      return {
        greet: function(text) {
          $window.alert(text);
        }
      };
    });
    
    //Create a new injector that can provide components defined in our myModule 
    //also request our greeter service from the injector

    var injector = angular.injector(['myModule', 'ng']);
    var greeter = injector.get('greeter');

    //controller
    function MyController($scope, greeter) {
      $scope.sayHello = function() {
        greeter.greet('Hello World');
      };
    };

    //In View
    //Asking for dependencies solves the issue of hard coding
    <div ng-controller="MyController">
      <button ng-click="sayHello()">Hello</button>
    </div>
     
    </textarea><br/>
  </div>
  <div>
    <span class="desc">Description</span> : When Angular compiles the HTML, it processes the ng-controller directive, which in turn asks the injector to create an instance of the controller and its dependencies <span class="greenHighlight">injector.instantiate(MyController)</span>. <br/>This is all done behind the scenes. Notice that by having the ng-controller ask the injector to instantiate the class, it can satisfy all of the dependencies of MyController without the controller ever knowing about the injector.
  </div>
</section>

<!-- Filters -->
<section class="slide">
  <h3>....contd</h3>
  <ul>
    <li> <a href="http://docs.angularjs.org/guide/dev_guide.templates.filters.using_filters" target="_blank">Filters</a> : Filters typically used to format expressions in bindings in your templates
    </li>
  </ul>
  <ul>

    <textarea id="code" name="code" class="code" mode="javascript" style="display: none;">
  <div id="light" ng-repeat="light in lights | filter:{'mediaType': 'instance/lightSwitch'}" >

    <span ng-click="toggleBulb(light)" class="part1">
      <span class="text-toogle">SELECT TO TOGGLE </span>
    </span>
    <span style="float: left;background: #1b1a20;width: 270px;">
      <h4>Non-dimming Light</h4>
    </span>

  </div>
      </textarea>
  </ul>


</section>

<!-- Directives -->

<section class="slide">
  <h2>....contd</h2>
  <ul>
    <li> <a href="https://docs.angularjs.org/guide/directive" target="_blank">Directives</a> : Directives are markers on a DOM element (such as an attribute, element name, comment or CSS class) that tell AngularJS's HTML compiler ($compile) to attach a specified behavior to that DOM element or even transform the DOM element and its children.
    </li>
    <li>Angular comes with a set of these directives built-in, like ngBind, ngModel, and ngClass.</li>
    <li>Just like controllers,services etc, you can create custom directives </li>
    <li>
     When Angular bootstraps your application, the HTML compiler traverses the DOM matching directives against the DOM elements
    </li>
    <li>
      Angular normalizes an element's tag and attribute name to determine which elements match which directives.The normalization process is as follows: 
      <ul>
        <li>Strip x- and data- from the front of the element/attributes.</li>
        
        <li>Convert the :, -, or _-delimited name to camelCase</li>

        <li>
          Some examples will throw proper light:
          <ul>
            <li>ng-model</li><li>ng-bind</li><li>ng:bind</li><li>ng_bind</li><li>data-ng-bind </li><li>x-ng-bind</li>
          </ul>
          All will be normalized to ngBind
        </li>
      </ul>
    </li>
  </ul>

</section>

<section class="slide">
  <h2>....contd</h2>
  <div>
    <span class="desc">Custom Directives</span> : 
  </div>

  <div>
    In this example we will build a directive that  updates the DOM to reflect the respected change.<br/>
    Directives that want to modify the DOM typically use the link option {used in example} where :
    <ul>
      <li><span class="smallHeading">scope</span> :  is an Angular scope object.</li>
      <li><span class="smallHeading">element</span> : is the jqLite-wrapped element that this directive matches.</li>
      <li><span class="smallHeading">attrs</span> :  is a hash object with key-value pairs of normalized attribute names and their corresponding attribute values</li>
    </ul>
  </div>
  <textarea id="code" name="code" class="code" mode="javascript" style="display: none;" globals="$,jQuery,angular">
  .directive('loadingContainer', function () {
      return {
          restrict: 'A',
          link: function(scope, element, attrs) {
              ---
              ---
          }
      };
  })
   
  </textarea>
  <br/><div>
    The restrict option is typically set to:
    <ul>
      <li><span class="smallHeading">'A'</span> :  only matches attribute name.</li>
      <li><span class="smallHeading">'E'</span> : only matches element name.</li>
      <li><span class="smallHeading">'C'</span> :  only matches class name</li>
      <li><span class="smallHeading">'AEC'</span> : matches either attribute or element or class name</li>
    </ul>
  </div>
</section>

<!-- Live Demo -->
<section class="slide">
  <h3>A Live Demo Example would be fair enough for better understanding</h3>
  <br/><br/>
  <ul class="slide">
    <img  src="images/toolset.png">
    <br/><br/>
    where i'll be using yo together with grunt n bower to show the demo, so sit back n enjoy :)
   
  </ul>


</section>



<!-- END SLIDE -->

<section class="slide">

    

    <div style="float:left">
      <img src="images/thanku.png">
    </div>



    <div style="float: right;margin-top: -17px;margin-right: -125px;">
      <img src="images/contactus.jpg">
    </div>

</section>

<!-- End slides. -->


<!-- Begin extension snippets. Add or remove as needed. -->

<!-- deck.navigation snippet -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<!-- deck.status snippet -->
<p class="deck-status">
  <span class="deck-status-current"></span>
  /
  <span class="deck-status-total"></span>
</p>

<!-- deck.goto snippet -->
<form action="." method="get" class="goto-form">
  <label for="goto-slide">Go to slide:</label>
  <input type="text" name="slidenum" id="goto-slide" list="goto-datalist">
  <datalist id="goto-datalist"></datalist>
  <input type="submit" value="Go">
</form>

<!-- deck.hash snippet -->
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

<!-- End extension snippets. -->


<!-- Required JS files. -->
<script src="deck.js/jquery-1.7.2.min.js"></script>
<script src="deck.js/angular.js"></script>
<script src="deck.js/core/deck.core.js"></script>

<!-- Extension JS files. Add or remove as needed. -->
<script src="deck.js/core/deck.core.js"></script>
<script src="deck.js/extensions/hash/deck.hash.js"></script>
<script src="deck.js/extensions/menu/deck.menu.js"></script>
<script src="deck.js/extensions/goto/deck.goto.js"></script>
<script src="deck.js/extensions/status/deck.status.js"></script>
<script src="deck.js/extensions/navigation/deck.navigation.js"></script>
<script src="deck.js/extensions/scale/deck.scale.js"></script>

<!-- Base codemiror code -->
<script src="deck.js/extensions/codemirror/codemirror.js"></script>
<!-- javascript mode -->
<script src="deck.js/extensions/codemirror/mode/javascript/javascript.js"></script>
<!-- html mode (note html mode requires xml, css and javascript) -->
<script src="deck.js/extensions/codemirror/mode/xml/xml.js"></script>
<script src="deck.js/extensions/codemirror/mode/css/css.js"></script>
<script src="deck.js/extensions/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<!-- Plugin code -->
<script src="deck.js/extensions/codemirror/deck.codemirror.js"></script>

<!-- Initialize the deck. You can put this in an external file if desired. -->
<script>
  $(function() {
    $.deck('.slide');
  });
</script>
</body>
</html>

